# Seaborn Tutorial

## Distribution plots

- Distplot
- Joinplot
- Pairplot

Practise problem on IRIS Dataset

In [1]:
import seaborn as sns

In [2]:
df = sns.load_dataset("tips")

- tip = dependent feature
- total_bill, sex, smoker, day, time, size = Independent Feature

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

- Whenever we have one feature(f1) then we will call it Univariate Analysis
- Whenever we are comparing two features(f1 and f2) then we will call it Bivariate Analysis (JointPlot)
- Whenever we have more than two features then we will call it Multivariate Analysis (Pairplot)

# Correlation with Heatmap

A correlation heatmap uses colored cells, typically in a monochromatic scale, to show a 2D correlation matrix (table) between two discrete dimensions or event types. It is very important in Feature Selection. Values must be either integer or floating. For categorical values(features) we will not be able to find out the correlation as categorical features are object types.

In [4]:
df.corr()

C:\Users\Abhin\AppData\Local\Temp\ipykernel_6688\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000